<% const portfolio = require('../../config/portfolio.js'); %>

<section id="<%= portfolio.id %>" class="section section--brown">
    <div class="container">
        <h2 class="title__h2 section__title animated" data-animation="slide-in-right">
            <%= portfolio.header %>
            <hr class="section__title-divider animated" data-animation="slide-in-right" data-delay="0.4s">
        </h2>
        <p class="section__desc animated" data-animation="fade-in" data-delay="0.2s"><%= portfolio.desc %></p>
        <div class="portfolio">
        <% portfolio.works.reverse();
            var works = portfolio.works;
            var aniSides = ['left', 'right'];
            for (var i = 0; i < works.length; i++) {
                if (i + 1 % 2) aniSides.reverse();
        %>
            <div class="portfolio__item row justify-content-between">
                <div class="portfolio__content animated col-sm-6" data-animation="slide-in-<%= aniSides[0] %>">
                    <h3 class="portfolio__content_title"><%= works[i].title %></h3>
                    <span class="portfolio__content_desc d-inline-block"><%= works[i].desc %></span>
                    <p class="portfolio__content_text"><%= works[i].text %></p>
                    <p class="portfolio__content_tags"><%= works[i].tags %></p>
                    <div class="portfolio__content_buttons animated d-flex align-items-center flex-column flex-lg-row"
                        data-animation="fade-in" data-delay="0.4s">
                        <a class="button" href="<%= works[i].site %>" target="_blank" rel="noopener" rel="noreferrer"><%= portfolio.visitButton %></a>
                        <button class="button" value="gallery"><%= portfolio.screenshotButton %></button>
                    </div>
                </div>
                <div class="animated col-xl-5 col-sm-6 align-self-center order-first order-sm-0"
                    data-animation="slide-in-<%= aniSides[1] %>">
                    <img class="portfolio__cover d-block" src="/assets/portfolio/<%= works[i].id %>-mockup.webp"
                        srcset="/assets/portfolio/<%= works[i].id %>-mockup@2x.webp 2x" alt="<%= works[i].title %>">
                    <img class="portfolio__cover blur d-sm-block d-none" src="/assets/portfolio/<%= works[i].id %>-mockup.webp">
                </div>
                <ul class="portfolio__gallery d-none">

                <% for (var j = 0; j < works[i].count; j++) { %>
                    <li class="portfolio__gallery_img"
                        data-src="/assets/portfolio/<%= works[i].id %>-<%= j + 1 %>.webp"
                        data-retina="/assets/portfolio/<%= works[i].id %>-<%= j + 1 %>@2x.webp"></span>
                <% } %>

                </ul>

            </div>
        <% } %>

        </div>
    </div>
</section>
