<% const skills = require('./../../config/skills') %>

<section id="<%= skills.id %>" class="block block-white">
    <div class="container">
        <div class="header row">
            <div class="col">
                <h2 class="animated" data-animation="slide-in-left">
                    <%= skills.header %>
                    <hr class="animated" data-animation="slide-in-left" data-delay="0.4s">
                </h2>
                <p class="animated" data-animation="fade-in" data-delay="0.2s"><%= skills.desc %></p>
            </div>
        </div>
        <div class="skills animated row" data-animation="filled">

        <% for (var i = 0; i < skills.tools.length; i++) { var item = skills.tools[i]; %>
            <% if (i == 0 || i == skills.tools.length / 2) { %><div class="col-sm-6"><% } %>

            <div class="skills__item d-flex">
                <span class="skills__item_name" style="background-color: <%= item.color %>;"><%= item.name %></span>
                <div class="skills__item_bar-wrapper flex-grow-1">
                    <div class="skills__item_bar" style="background-color: <%= item.color %>; width: <%= item.percent %>%"></div>
                </div>
                <span class="skills__item_percent align-self-center"><%= item.percent %>%</span>
            </div>

            <% if (i == skills.tools.length / 2 - 1 || i == skills.tools.length - 1) { %></div><% } %>
        <% } %>

        </div>
        <div class="logos animated row no-gutters" data-animation="slide-in-fwd" data-delay="0.2s">
            <% var logosName = []; skills.logos.forEach(function(el){
                logosName.push(el.toLowerCase());
            }); for (var i = 0; i < logosName.length; i++) { %>
            <% if (i == 0 || i == logosName.length / 2) { %><div class="col-md-6 d-flex justify-content-between justify-content-sm-around"><% } %>
                <div class="logos__item">
                    <img class="logos__item_img" src="/assets/img/logos/<%= logosName[i] %>.svg" alt="<%= skills.logos[i] %> Logo">
                </div>
            <% if (i == logosName.length / 2 - 1 || i == logosName.length - 1) { %></div><% } %>
            <% } %>
        </div>
    </div>
</section>
