<% const footer = require('./../../config/footer') %>

<footer>
    <section id="<%= footer.id %>" class="block">
        <div class="container">
            <div class="header row">
                <div class="col">
                    <h2 class="animated" data-animation="slide-in-right">
                        <%= footer.header %>
                        <hr class="animated" data-animation="slide-in-right" data-delay="0.4s">
                    </h2>
                    <p class="animated" data-animation="fade-in" data-delay="0.2s"><%= footer.desc %></p>
                </div>
            </div>
            <div class="contact row">
                <div class="col">
                    <div class="contact__form_alert-wrapper d-flex justify-content-center align-items-center">
                        <div class="contact__form_alert"></div>
                    </div>
                    <form class="contact__form d-flex flex-column align-items-center">
                        <div class="contact__form_inputs d-flex justify-content-between flex-column flex-sm-row">
                            <input class="contact__form_name flex-grow-1" type="text" 
                                name="Name" placeholder="<%= footer.form.name %>" autocomplete="off" 
                                minlength="2" maxlength="64" required>
                            <input class="contact__form_email flex-grow-1" type="email" 
                                name="Email" placeholder="<%= footer.form.email %>" autocomplete="off" 
                                minlength="8" maxlength="128" required>
                        </div>
                        <input class="contact__form_gotcha d-none" type="hidden" name="_gotcha">
                        <textarea class="contact__form_msg" name="Message" 
                            placeholder="<%= footer.form.msg %>" minlength="16" maxlength="2048" required></textarea>
                        <input class="contact__form_submit button" type="submit" value="<%= footer.form.submit %>">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="footer__scroll d-inline-flex justify-content-center" href="#"><%= icons.arrow %></a>
                    <div class="footer__copyright">
                         © 2018-<% var year = (new Date).getFullYear(); %><%= year %>
                         <a class="footer__copyright_name" href="<%= footer.homeLink %>"><%= footer.copyrightName %></a>.
                         <%= footer.copyright %>.
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</footer>

<%= metrics.footer %>

</body>
</html>
