<% const header = require('../../config/header.js'); %>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title><%= header.title %></title>
    <meta name="description" content="<%= header.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="manifest" href="/favicons/manifest.json">
    <%= metrics.header %>
</head>
<body class="body compensate-for-scrollbar">

<div class="preloader preloader--active">
    <div class="preloader__spinner"></div>
</div>

<header class="header d-flex">
    <div class="container">
        <div class="row align-items-center header__inner">
            <div class="header__logo col">
                <a class="header__logo-link" href="<%= header.homeLink %>">M.E.</a>
            </div>
            <div class="header__menu col-md-8 d-md-block">
                <nav class="header__menu-inner d-flex flex-md-row flex-column justify-content-center">
                    <% for (key in header.menu) { %>
                        <span class="header__menu-item align-items-baseline">
                            <a class="header__menu-link" href="<%= header.menu[key] %>"><%= key %></a>
                        </span>
                    <% } %>
                </nav>
            </div>
            <div class="header__contacts col-lg col-auto d-flex flex-column align-items-end">
                <a class="header__contacts-link" href="tel:<%= header.phoneShort %>"><%= header.phoneLong %></a>
                <a class="header__contacts-link" href="mailto:<%= header.email %>"><%= header.email %></a>
            </div>
            <button class="header__toggle d-block d-md-none">
                <% for(let i = 0; i < 3; i++) { %>
                <span class="header__toggle-line"></span>
                <% } %>
            </button>
        </div>
    </div>
</header>
