<% const icons = require('./../config/icons') %>
<% const metrics = require('./../config/metrics') %>
<% const globals = { icons, metrics } %>

<%= require('./partials/header.ejs')(globals) %>
<main>
    <%= require('./blocks/about.ejs')() %>
    <%= require('./blocks/portfolio.ejs')() %>
    <%= require('./blocks/skills.ejs')() %>
</main>
<%= require('./partials/footer.ejs')(globals) %>
